.card {
  box-shadow: none;
  margin-bottom: 80px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.list-image {
  width: 100%;
  border-radius: 0.25rem; }

.arrow-move {
  display: inline-block;
  animation: bounceRight 2s ease infinite;
  color: #333; }

@keyframes bounceRight {
  0%, 100% {
    transform: translateX(0px);
    color: #333; }
  50% {
    transform: translateX(20px);
    color: #fff; } }

.card-columns {
  column-count: 1; }

@media (min-width: 720px) {
  .card-columns {
    column-count: 2; } }

@media (min-width: 992px) {
  .card-columns {
    column-count: 3; } }

@media (min-width: 1400px) {
  .card-columns {
    column-count: 4; } }
