.dropdown-menu a, .dropdown-menu a:hover, .dropdown-menu a:focus {
  text-decoration: none; }

.swipeable-route-wrapper {
  overflow: hidden;
  height: 100%; }

.icon {
  margin: 10;
  font-size: 2rem;
  color: #fff;
  opacity: 0.5; }

.icon:hover {
  opacity: 1;
  transition: all 1s ease; }

.swiping {
  margin: 50px;
  position: relative;
  width: 100px; }
  .swiping i {
    position: absolute;
    display: inline-block;
    border-radius: 100%;
    animation: moveHand ease 2s infinite;
    z-index: 1;
    font-size: 20px; }
  .swiping:before {
    position: absolute;
    content: ' ';
    background: linear-gradient(to right, #33d9b2, #00adb4, #347f99, #465567, #333333);
    right: -34px;
    top: 0;
    width: 0;
    height: 10px;
    border-radius: 30px;
    animation: dragScreen ease 2s infinite; }

@keyframes moveHand {
  0% {
    right: -50px;
    transform: scale(1); }
  20% {
    right: -50px;
    transform: scale(0.7); }
  50% {
    right: 50px;
    transform: scale(0.7); }
  60% {
    transform: scale(1); }
  70% {
    right: 50px; }
  100% {
    right: -50px;
    transform: scale(1); } }

@keyframes dragScreen {
  20% {
    opacity: 0;
    width: 0; }
  50% {
    opacity: .7;
    width: 100px; }
  60% {
    opacity: 0;
    width: 100px; }
  100% {
    opacity: 0;
    width: 0; } }

.dropdown-menu {
  top: 4px !important; }

.dropdown-button {
  color: #333;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
  background: transparent !important;
  color: #fff;
  box-shadow: none; }

.dropdown-button:focus {
  box-shadow: none; }

.dropdown-button:hover {
  color: #333;
  background: rgba(51, 217, 178, 0.7) !important;
  transition: all 1s ease; }

.border-animation {
  margin-top: 1.5rem;
  padding: 0px;
  border-radius: 4px;
  position: relative;
  outline: 'none'; }

.border-animation:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #ffda79, #34ace0, #33d9b2);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%); }

.border-animation.inside:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite; }

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 85% 100%; }
  100% {
    background-position: 15% 0%; } }

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%); }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%); }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%); }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%); }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%); } }
