.dropdown-menu {
    a, a:hover, a:focus {
        text-decoration: none
    }
}

.swipeable-route-wrapper {
    overflow: hidden;
    height: 100%;
}

.icon {
    margin: 10;
    font-size: 2rem;
    color: #fff;
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
    transition: all 1s ease;
}

$swipe: 50px;

.swiping{
	margin: 50px;
    position: relative;
    width: 100px;
    i{
        position: absolute;
        display: inline-block;
        border-radius: 100%;
        animation: moveHand ease 2s infinite;
        z-index: 1;
        font-size: 20px;
    }
    &:before{
            position: absolute;
            content: ' ';
            background: linear-gradient(to right, #33d9b2, #00adb4, #347f99, #465567, #333333);
            right: -34px;
            top: 0;
            width: 0;
			height: 10px;
			border-radius: 30px;
            animation: dragScreen ease 2s infinite;
        }
}

@keyframes moveHand {
	0% {
		right: -$swipe;
		transform: scale(1);
	}
	20% {
		right: -$swipe;
		transform: scale(.7);
	}
	50% {
		right: $swipe;
		transform: scale(.7);
	}
	60% {
		transform: scale(1);
	}
	70% {
		right: $swipe;
	}
	100% {
		right: -$swipe;
		transform: scale(1);
	}
}

@keyframes dragScreen {
	20% {
		opacity: 0;
		width: 0;
	}
	50% {
		opacity: .7;
		width: $swipe * 2;
	}
	60% {
		opacity: 0;
		width: $swipe * 2;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}