.popover-btn {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-bottom: 7px;
  font-weight: 900;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

.popover-btn:focus, .popover-btn:active, .popover-btn:hover {
  background: #333 !important;
  opacity: 0.9;
  color: #fff !important; }

.popover-text {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center; }

.popover-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.popover-modal {
  background: #333 !important;
  opacity: 0.9;
  color: #fff !important;
  font-family: 'Nunito', sans-serif; }

.popover-header {
  font-weight: 900; }
